body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: linear-gradient(black, #303030);
    color: white;
}

.parallax {
    background-image: url("images/background.jpg");
    height: 100vh;
    width: 100%;
    background-attachment: fixed;

    text-align: center;
    line-height: 80vh;
}

#welcome-text {
    font-size: 5em;
    background-color: black;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

@keyframes play-button-color-change {

    from {
        background-position: bottom;
    }

    to {
        background-position: top;
    }
}

#play-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    border: 0;
    background-image: linear-gradient(blueviolet, dodgerblue);
    background-size: 200% 200%;

    color: white;
    font-size: xx-large;
    padding: 15px;
    animation: play-button-color-change 1s infinite alternate;
}

#play-button:focus {
    outline: none;
}