* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Helvetica, sans-serif;
    margin: 0;
    background-image: linear-gradient(black, #303030);
    color: white;
    overflow-x: hidden;
}

#cover {
    background-image: url("images/background.jpg");
    height: 100vh;
    width: 100%;
    background-attachment: fixed;

    text-align: center;
    line-height: 80vh;
}

#welcome-text {
    font-size: 5em;
    margin-right: 10px;
    margin-left: 10px;
    background-color: black;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

@keyframes play-button-color-change {

    from {
        background-position: bottom;
    }

    to {
        background-position: top;
    }
}

#play-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    border-radius: 100px;

    background-image: linear-gradient(blueviolet, dodgerblue);
    background-size: 200% 200%;

    padding: 15px;
    animation: play-button-color-change 1s infinite alternate;

    z-index: 1; /* so that it isn't covered by the navbar */
}

#play-button:focus {
    outline: none;
}