#container {
    margin: 25px;
    display: flex;
    flex-wrap: nowrap;
    width: 95%;
}

#side-menu-container {
    flex-grow: 0;     /* do not grow   - initial value: 0 */
    flex-shrink: 0;   /* do not shrink - initial value: 1 */
    flex-basis: 200px; /* width/height  - initial value: auto */
}

#side-menu-button {
    display: none;
}

@media screen and (max-width: 560px) {
    #side-menu-items {
        display: none;
    }

    #side-menu-button {
        display: block;
    }

    #container {
        flex-wrap: wrap;
        /*flex-direction: column;
        flex-basis: 0;*/
    }
}

#content-container {
    flex-basis: 80%;

    justify-content: space-evenly;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
    background-color: gray;
}

.artist-card {
    max-width: 200px;
}

.artist-image {
    width: 200px;
    height: auto;
}