#hamburger-button {
    background-color: blueviolet;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

#navbar {
    background-color: black;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/* for mobile devices */
@media screen and (max-width: 560px) {
    #hamburger-button {
        display: block;
    }

    #navbar {
        display: none;
        width: 100vw; /* changed with js */


        /* display: none; */
        position: fixed; /* Stay in place */
        top: 0; /* Stay at the top */
        left: 0;
        transition: all 2s ease-in-out;
        padding-top: 30pt;
        flex-direction: column;
    }
}

.navbar-item {
    line-height: 50px;
    text-decoration: none;
    color: blueviolet;
    transition: 0.3s;
}

.navbar-item:hover {
    background-color: #484848;
}